<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Medida</h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard 1</li>
      </ol> -->
      <button type="button" class="btn btn-info d-none d-lg-block m-l-15" 
      appMeasureModal
       [resultModalHandler]="resultModalHandler"
      >
        <i class="ti-plus"></i> Nuevo
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="d-flex justify-content-start">
          <span class="form-group pull-left page-size form-inline">
            <select
              class="form-control control-color"
              [(ngModel)]="dataSearch.pageSize"
              (change)="changePageSize()"
            >
              @for(item of recordsQuantity; track $index){
              <option [value]="item">{{ item }}</option>
              }
            </select>
          </span>

          <span class="form-group pull-left page-size form-inline">
            <button
              type="button"
              class="btn btn-success m-l-5"
              ng-click="exportTableToExcel()"
            >
              <i class="far fa-file-excel"></i> Exportar
            </button>
          </span>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="d-flex justify-content-end">
          <form class="form-material">
            <input
              type="text"
              class="form-control"
              ng-model="buscar"
              placeholder="Buscar Medida"
            />
          </form>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Op.</th>
            <th>N°</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          @for(item of measures;track $index){
          <tr>
            <td>
              <button class="btn btn-info btn-sm" 
              ng-if="accion.editar" 
              appMeasureModal 
              [params]="item"
              [resultModalHandler]="resultModalHandler"
              >
                  <i class="mdi mdi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm ml-1" ng-if="accion.eliminar" (click)="askToDelete(item.idMedida)">
                  <i class="mdi mdi-delete"></i>
              </button>
            </td>
            <td>{{ $index + 1 }}</td>
            <td>{{ item.codigo }}</td>
            <td>{{ item.descripcion }}</td>
            <td> 
              @if (item.estado) {
              <span class="label label-success">Activo</span>
              } @else {
              <span class="label label-danger">Inactivo</span>
              }
            </td>
          </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td align="center" colspan="6">
              <ngb-pagination
                [collectionSize]="totalRecords"
                [(page)]="dataSearch.pageIndex"
                [maxSize]="dataSearch.maxSize"
                [pageSize]="dataSearch.pageSize"
                [rotate]="true"
                (pageChange)="pageChanged()"
                [boundaryLinks]="true"
              />
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
