<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Medida</h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard 1</li>
      </ol> -->
      <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
        <i class="fa fa-plus-circle"></i> Nuevo
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body"> 
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Deshmukh</td>
            <td>Prohaska</td>
            <td>Genelia</td>
            <td><span class="label label-danger">admin</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Deshmukh</td>
            <td>Gaylord</td>
            <td>Ritesh</td>
            <td><span class="label label-info">member</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Sanghani</td>
            <td>Gusikowski</td>
            <td>Govinda</td>
            <td><span class="label label-warning">developer</span></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Roshan</td>
            <td>Rogahn</td>
            <td>Hritik</td>
            <td><span class="label label-success">supporter</span></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Joshi</td>
            <td>Hickle</td>
            <td>Maruti</td>
            <td><span class="label label-info">member</span></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Nigam</td>
            <td>Eichmann</td>
            <td>Sonu</td>
            <td><span class="label label-success">supporter</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
