<form autocomplete="off" [formGroup]="dataForm">
    <div class="modal-header">
    <h5 class="modal-title">{{titleModal}}</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label for="descripcion">Descripcion: <span class="text-danger">*</span></label>
                <input type="text" 
                id="descripcion" 
                name="descripcion" 
                formControlName="descripcion" 
                touppercase 
                class="form-control form-control-border" 
                placeholder="Ej: Litro">
            </div>
        </div>
    </div>

    <div class="row" ng-if="tipoRegistro==2 && showStatus" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="icheck-primary">
                <input type="radio" ng-model="data.estado" ng-value="true" id="someRadioId1" name="someGroupName" />
                <label for="someRadioId1">Activo</label>
            </div>
        </div>
        <div class="col-6 col-md-6 col-sm-6 col-xs-6 text-right">
            <div class="icheck-primary">
                <input type="radio" ng-model="data.estado" ng-value="false" id="someRadioId2" name="someGroupName" />
                <label for="someRadioId2">Inactivo</label>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success"  ng-click="save()">
        <i [ngClass]="btnIcon"></i> {{btnText}}
    </button>
    <button type="button" class="btn btn-dark" (click)="closeModal()"> &times; Cerrar</button>
</div>
</form>