<div class="modal-header">
    <h5 class="modal-title">Nueva Subcategoría</h5>
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label for="category"> Categoría: </label>
                <div class="input-group">
                    <select class="form-control border-select" ng-model="data.idFamilia">
                        <option ng-value="item.idFamilia"></option>
                    </select>
                    <div class="input-group-append">
                        <!-- <button class="btn btn-outline-secondary btn-sm" btn-add-update-familia results="reloadFamilia()" tabindex="-1">
                            <i class="fa fa-plus fa-xs"></i>
                        </button>  -->
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="">Descripción: </label>
            <input type="text" ng-model="data.descripcion" ng-keyup="generateCodigo()" touppercase class="form-control border-select" placeholder="Ej: Redes">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <label for="">Siglas: </label>
            <div class="controls">
                <input type="text" ng-model="data.siglas" touppercase class="form-control border-select" placeholder="Ej: R">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <label for=""> Monto Objetivo: <span class="text-danger"> *</span></label>
            <input type="text" ng-model="data.montoObjetivo" class="form-control border-select" valid-number maxlength="50" placeholder="0.00">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group">
                <label>Imagen: </label>
                <input type="file"
                       class="form-control"
                       ngf-select
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"
                       ng-model="selectedFile" />
            </div>
        </div>
    </div>
    <div ng-if="tipoRegistro==2">
        <label for="">Estado: </label>
         
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success">
        <i class="ti-save"></i> Guardar
    </button>
    <button type="button" class="btn btn-dark" (click)="closeModal()">&times; Cerrar</button>
</div> 