<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../assets/images/fondo.jpg)"
>
  <div class="login-box card">
    <div class="card-body">
      <form
        class="form-horizontal form-material text-center" 
        [formGroup]="signinForm"
        (ngSubmit)="signIn()"
      >
        <a href="javascript:void(0)" class="db"
          ><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
            src="../assets/images/logo-text.png"
            alt="Home"
        /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text" 
              placeholder="Usuario"
              formControlName="username"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password" 
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
        </div> 
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-info btn-lg btn-block btn-rounded"
              [disabled]="!signinForm.valid"
              type="submit"
            >
              Ingresar <i class="fa fa-sign-in-alt"></i>
            </button>
          </div>
        </div>  
      </form> 
    </div>
  </div>
</section>
