<aside class="left-sidebar" #demo>
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User Profile-->
    <div class="user-profile">
      <div class="user-pro-body">
        <div>
          <img
            src="../assets/images/users/2.jpg"
            alt="user-img"
            class="img-circle"
          />
        </div>
        <div class="dropdown">
          <a
            href="javascript:void(0)"
            class="dropdown-toggle u-dropdown link hide-menu"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Steave Gection <span class="caret"></span
          ></a>
          <div class="dropdown-menu animated flipInY">
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="ti-user"></i> My Profile</a
            >
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="ti-wallet"></i> My Balance</a
            >
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="ti-email"></i> Inbox</a
            >
            <!-- text-->
            <div class="dropdown-divider"></div>
            <!-- text-->
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="ti-settings"></i> Account Setting</a
            >
            <!-- text-->
            <div class="dropdown-divider"></div>
            <!-- text-->
            <a href="javascript:void(0)" (click)="logout()" class="dropdown-item"
              ><i class="fas fa-power-off"></i> Logout</a
            >
            <!-- text-->
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav"> 
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="icon-speedometer"></i
            ><span class="hide-menu">Inventario </span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="inventory/medida">Medida</a></li>
            <li><a routerLink="inventory/marca">Marca</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
